body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    position: relative;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.reponse {
    margin: 10px 0;
    padding: 10px;
    background-color: #e3e3e3;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.reponse.selected {
    background-color: #b3d9ff; /* Highlight selected answer */
}

button {
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
