body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}
h1 {
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qcm-type {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    justify-content: space-between;
}
.sujet,
.proposition {
    width: 48%;
}
.rectangle {
    width: 100%;
    height: 50px;
    background-color: grey;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.rectangle:hover {
    transform: scale(1.05);
}
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttons-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0 10px;
}
.buttons-container button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.buttons-container button:active {
    background-color: #004494;
}
.tresfacile {
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
}
.facile {
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.5);
}
.moyen {
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
}
.difficile {
    box-shadow: grey;
}
.corp-titre {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
}
.corp-titre p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.corp-titre span {
    font-weight: bold;
    display: flex;
    padding: 10px;
}
.cercleFacile {
    position: relative;
    display: inline-block;
    background-color: blue;
    width: .5em;
    height: .5em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin: 0 5px;
    justify-content: center;
}
.cercleMoyen {
    position: relative;
    display: inline-block;
    background-color: red;
    width: .5em;
    height: .5em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin: 0 5px;
    justify-content: center;
}
.cercleTresFacile {
    position: relative;
    display: inline-block;
    background-color: green;
    width: .5em;
    height: .5em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin: 0 5px;
    justify-content: center;
}
.cercleDifficile {
    position: relative;
    display: inline-block;
    background-color: grey;
    width: .5em;
    height: .5em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin: 0 5px;
    justify-content: center;
}
.boutonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.corp-titre button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0 10px;
}
